*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background: linear-gradient(to bottom,#24FE41,#FDFC47);
    height: 80vh;
    padding: 48px;
    width: 100%;
}

#icono{
    display: block;
    z-index: 1000;
	color: #fff;
    position: fixed;
    top: 20px;
    left: 20px;

    animation: moverIzquierda 1s ease-in;

    

}

#icono a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.contenedor{
    width: 95%;
    max-width:1200px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

header img{
    display: block;
    height: 400px;
    object-fit: cover;
    width: auto;
    animation: moverArriba 1s ease-in;
}

.textos{
    width: 50%;
    color: #fff;
}

.textos h1{
    font-size: 35px;
    animation: moverDerecha 1s ease-in;
}

.textos h2{
    font-size: 20px;
    animation: moverIzquierda 1s ease-in;
}

.textos a{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;

    animation: moverArriba 1s ease-in;
}

/* Animaciones */
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}


@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}


@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    100%{
        opacity:1;
        transform: translate(0);
    }
}
